// ===== 폰트 사이즈  기본 폰트 16px 기준 =====
$font12: 0.857rem;
$font13: 0.929rem;
$font14: 1rem;
$font16: 1.143rem;
$font18: 1.286rem;
$font20: 1.429rem;
$font22: 1.571rem;
$font24: 1.714rem;
$font26: 1.857rem;
$font28: 2rem;

$font-l: 400;
$font-m: 500;
$font-sb: 600;
$font-b: 700;
$font-eb: 800;

// ===== 색상 =====
$primary:       #4283f3;
$primary-light: #41c7f4;
$white:         #fff;
$border:        #dddddd;
$card-bg:       #fafafa;
$title:         #222222;
$text-default:  #454545;
$text-sub:      #666666;
$text-disabled: #999999;
$bg-color:      #eef3fc;
$color-fa:      #fafafa;
$dim:           rgba(0, 0, 0, 0.5);
$bg-disabled:   #e0e0e0;
$bg-primary:    #3D78F3;
$color-warm-neutral: (
  cream: #FFFCF6,
  taupe: #786258
);
$color-green: (
  text: #7AC47D,
  bg: #f0f9f4
);




// ===== border-radius =====
$radius-r: 50px;
$radius-lg: 10px;
$radius-md: 8px;
$radius-sm: 6px;

// ===== 레이아웃 =====
$header-height: 58px;
$tabbar-height: 64px;
